# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env

# Build outputs
dist/
build/
client/dist/
client/build/

# Editor files
.vscode/

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*